{% load static %}
<footer>
    <div class="top">
      
        <div class="developed">
            <h2>Developed By : </h2>
            <div class="dvlpd-comp">
                <img src="{% static "blog/img/adnan.jpg" %}" alt="">
                <h4>Adnan Khurshid</h4>
            </div>
        </div>

        <div class="social">
            <h2>Follow Me :</h2>
            <div class="social-links">
                <a href="https://github.com/AdnanKhurshid26"><i class="fa fa-github-square"></i></a>
                <a href="https://www.linkedin.com/in/adnan-khurshid-3039821b1/"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://www.facebook.com/adnan.khurshid.14606"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/one_upon_infinity/?hl"><i class="fab fa-instagram-square"></i></a>
            </div>
        
          </div>
    </div>
    <div class="bottom">
     
        <p>Copyrights &copy;2021. All Rights Reserved</p>
    </div>
</footer>