{% extends "base.html" %}
{% load static %}

{% block title %}All Posts{% endblock title %}



{% block css %}
<link rel="stylesheet" href="{% static "blog/style.css" %}">
<link rel="stylesheet" href="{% static "blog/footer.css" %}">
<link rel="stylesheet" href="{% static "blog/responsive.css" %}">
<link rel="stylesheet" href="{% static "blog/modal.css" %}">



{% endblock css %}

{% block content %}
<div class="backdrop overlay hidden"></div>
{% include "blog/includes/header.html" %}
<div class="posts-height-fix"></div>
<div class="cards" >
    {% for post in all_posts %}{% include "blog/includes/card.html" %}{% endfor %}
</div>
<script src="{% static "blog/script.js" %}"></script>

{% endblock content %}