{% extends "base.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "blog/footer.css" %}">
<link rel="stylesheet" href="{% static "blog/modal.css" %}">
<link rel="stylesheet" href="{% static "blog/post.css" %}">
<link rel="stylesheet" href="{% static "blog/header.css" %}">
<link rel="stylesheet" href="{% static "blog/style.css" %}">
<link rel="stylesheet" href="{% static "blog/responsive.css" %}">

{% endblock css %}

{% block content %}
<div class="backdrop overlay hidden"></div>
{% include "blog/includes/header.html" %}
<div class="post-height-fix"></div>
<div class="content">
    <h1>{{post.title}}</h1>
    <div class="author">
        <img src="{% static "blog/img/author.jpg" %}" alt="">
        <p>By {{post.author}}<br>{{post.created_on}}</p>
    </div>
    <div class="title-img">
        <img src="{{post.image.url}}" alt="">
    </div>
    <div class="content-body">
        
        <p>{{post.content|safe}}</p>
    </div>
</div>

<div class="comments">
    <h1>Comments</h1>
    {% for comment in comments %}
    <div class="comment">
        <div class="poster">
            <img src="{% static "blog/img/author.jpg" %}" alt="">
            <h4>{{comment.user_name}}</h4>
        </div>
        <p>
            {{comment.text}}
        </p>
        <h6> {{comment.created_on}} </h6>
    </div> 
    {% endfor %}
    
</div>
{% if user.is_authenticated %}
<form class="comments-form" action="{% url "single_post" post.slug %}" method="POST">
    {% csrf_token %}
    <h1>Leave a comment </h1>

    <label for="">Commenting as</label>
    <input type="text" for="username" value="{{request.user}}" readonly>

    <label for="">{{comment_form.text.label}}</label>
    {{comment_form.text}}

    <button>POST</button>
</form>
{% else %}
<p class="comment-p">Please Login to post comments</p>
{% endif %}
{% include "blog/includes/footer.html" %}
<script src="{% static "blog/script.js" %}"></script>
{% endblock content %}